<nav class="p-3">
  <ul class="nav nav-pills">
    <li>
      <button routerLink="/home" class="btn btn-outline-success ms-1">Home<i class="bi bi-house text-success"></i></button>
    </li>

    <li>
      <button routerLink="/products" class="btn btn-outline-success ms-1">Product<i class="bi bi-arrow-down-up text-success"></i></button>
    </li>
    <li>
      <button routerLink="/contact" class="btn btn-outline-success ms-1">Contact<i class="bi text-success"></i></button>
    </li>
    <li>
      <button routerLink="/about" class="btn btn-outline-success ms-1">About<i class="bi text-success"></i></button>
    </li>
  </ul>
</nav>

<router-outlet />
